<!-- Custom CSS -->
 <link rel="stylesheet" href="/css/footer.css">

<!-- Footer Section -->
<footer class="footer mt-5 py-3 bg-dark text-center">
    <div class="container">
      <span class="para">Developed with ❤️ by Sahil</span>
    </div>
  </footer>